body {
    background-color: rgba(128, 128, 128, 0.16);
}

/* nav-bar */
.nav-bar-row {
    background-color: rgba(29, 28, 43, 0.88);
    padding-top: 0.5em;
    font-size: 1.2em;
    color: white;
}

.test-for-you {
    font-family: 'Pacifico', cursive;
}

.nav-users {
    float: right;
    color: white;
    font-size: 0.86em;
}

.nav-courses {
    color: white;
    font-size: 0.86em;
}

/* users */
.pagination > li > a, .pagination > li > span {
    border-radius: 50% !important;
    margin: 0 5px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: rgb(9, 177, 85);
    border-color: rgb(9, 177, 85);
}

.icon-plus-bgr {
    color: darkblue;
    background: rgba(255, 0, 0, 0.69);
    height: 2.7em;
    width: 2.7em;
    border-radius: 100%;
    margin-top: 0.16em;
    position: relative;
}

.icon-plus-hrz {
    height: 2px;
    background-color: white;
    top: 1.3em;
    margin-left: 0.35em;
    width: 2em;
    position: relative;
}

.icon-plus-vrt {
    height: 2em;
    background-color: white;
    top: 0.23em;
    margin-left: 1.3em;
    width: 2px;
    position: relative;
}

.input-group-addon {
    font-size: 1.25em !important;
    border-radius: 100% !important;
    width: 2.45em !important;
    height: 2.45em !important;
    background-color: rgb(35, 142, 58) !important;
    color: white !important;
    border: none !important;
    position: inherit !important;
    z-index: 2 !important;
}

.clickable-area {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
    color: white;
}

.custom-input {
    border-radius: 0em 2em 2em 0em !important;
    border-left: none !important;
    margin-left: -1.5em !important;
    z-index: 1 !important;
    height: 3.07em !important;
    position: relative !important;
    padding-left: 3em !important;
}

.custom-select {
    border-radius: 1em;
    width: 6em;
    top: 0.38em;
    position: relative;
    float: right;
}

.custom-field {
    display: inline-block;
    border-bottom: solid 2px;
    border-color: rgba(128, 128, 128, 0.51);
    background-color: white;
}

.custom-field-action {
    display: inline-block;
    max-width: 15.3em;
    border-bottom: solid 2px;
    border-color: rgba(128, 128, 128, 0.51);
    height: 2.58em;
    background-color: white;
}

.delete-icon-dg {
    background-color: red;
    position: relative;
    display: inline-block;
    width: 2.5em;
    border-radius: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding: 0.1em;
    float: right;
    margin-right: 1.5em;
}

.change-icon-dg {
    position: relative;
    display: inline-block;
    background-color: green;
    border-radius: 1em;
    width: 2.5em;
    float: right;
    margin-right: 1em;
}

.delete-icon-dg i {
    float: right;
    padding-right: 0.23em;
    font-size: 1.8em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    color: white;
}

.change-icon-dg i {
    float: right;
    color: white;
    font-size: 1.8em;
    padding: 0.2em;
}

.table-head-pad {
    padding-top: 3em;
}

.table-head-color {
    background-color: #353441;
}

/* courses */
.col-title1 {
    padding-left: 1em;
    color: white;
    font-weight: bold;
}

.col-title2 {
    color: white;
    font-weight: bold;
}

.head-section1 {
    background-color: rgb(55, 54, 67);
}

.head-section2 {
    background-color: rgb(55, 54, 67);
    width: 12%;
}

.field-col1 {
    background-color: white;
    border-bottom: solid 1px rgba(128, 128, 128, 0.45);
}

.field-col2 {
    background-color: white;
    border-bottom: solid 1px rgba(128, 128, 128, 0.45);
    width: 12%;
}

.field-col1-text {
    padding-left: 1em;
    color: rgba(53, 56, 64, 0.81);
    font-weight: 500;
}

.field-col2-text {
    color: rgba(53, 56, 64, 0.81);
    font-weight: 500;
}

/* change user */
.back-background {
    color: darkblue;
    background: rgba(255, 0, 0, 0.69);
    height: 2.7em;
    width: 2.7em;
    border-radius: 100%;
    margin-top: 0.16em;
    position: relative;
    -ms-transform: rotate(47deg); /* IE 9 */
    -webkit-transform: rotate(47deg); /* Chrome, Safari, Opera */
    transform: rotate(47deg);
}

.back-horizontal-line {
    height: 2px;
    background-color: white;
    top: 1.5em;
    margin-left: 1em;
    width: 1.1em;
    position: relative;
}

.back-vertical-line {
    height: 1em;
    background-color: white;
    top: 0.38em;
    margin-left: 1em;
    width: 2px;
    position: relative;
}

.user-title {
    font-weight: 600;
}

.info-button {
    background-color: white;
    border: solid 1px #5aa977;
    border-radius: 1em;
    height: 2.3em;
    margin-left: 3em;
    padding-right: 1em;
    display: inline-block;
}

.info-button-text {
    padding-left: 1em;
    margin-top: 0.6em;
    color: #5aa977;
}

.asterisk {
    color: red;
    display: inline;
    padding-left: 1em;
}

.disable {
    border-radius: 2em;
    height: 3em;
    position: relative;
    margin-left: 1em;
    background-color: rgba(53, 52, 65, 0.56) !important;
    color: white;
}

.custom-title {
    display: inline;
    padding-left: 1em;
}

.custom-input-ch-user {
    border-radius: 2em;
    height: 3em;
    position: relative;
    margin-left: 1em;
}

.add-button-background {
    color: darkblue;
    background: rgb(90, 169, 119);
    height: 2.7em;
    width: 2.7em;
    border-radius: 100%;
}

.add-button-horizontal-line {
    height: 2px;
    background-color: white;
    top: 1.3em;
    margin-left: 0.6em;
    width: 1.5em;
    position: relative;
}

.add-button-vertical-line {
    height: 1.5em;
    background-color: white;
    top: 0.46em;
    margin-left: 1.3em;
    width: 2px;
    position: relative;
}

.add-button-a {
    font-size: 0.9em;
    float: right;
    margin-right: -1em;
    margin-top: -1em;
}

.btn-save {
    border-radius: 1em;
    float: right;
    margin-top: 1em;
    width: 7.1em;
    margin-right: -1em;
    background-color: rgb(90, 169, 119);
    height: 2.5em;
}

.added-courses {
    border-bottom: solid 1px rgba(128, 128, 128, 0.3);
    padding-left: 1em;
    padding-top: 1em;
}

.added-courses a {
    color: #443333;
}

.added-courses a span {
    float: right;
    border: solid 2px;
    border-radius: 1em;
    padding: 0.02em;
}

.custom-select-ch-user {
    border-radius: 1em;
    position: relative;
    margin-left: 1em;
    height: 3em;
    margin-top: 1em;
}

.courses {
    border-radius: 1em;
    position: relative;
    margin-left: 1em;
    height: 3em;
    display: inline-block;
    margin-top: 1em;
    margin-right: 1em;
}

/* create user */
.asterisk {
    color: red;
    display: inline;
    padding-left: 1em;
}

.custom-title-cr-user {
    font-weight: 600;
    margin-left: -1.5em;
}

.back-button {
    color: darkblue;
    background: rgba(255, 0, 0, 0.69);
    height: 2.7em;
    width: 2.7em;
    border-radius: 100%;
    margin-top: 0.16em;
    position: relative;
    -ms-transform: rotate(47deg); /* IE 9 */
    -webkit-transform: rotate(47deg); /* Chrome, Safari, Opera */
    transform: rotate(47deg);
}

.back-button-vrt {
    height: 1em;
    background-color: white;
    top: 0.38em;
    margin-left: 1em;
    width: 2px;
    position: relative;
}

.back-button-hrz {
    height: 2px;
    background-color: white;
    top: 1.5em;
    margin-left: 1em;
    width: 1.1em;
    position: relative;
}

.custom-usr-input {
    border-radius: 2em;
    height: 3em;
    position: relative;
    margin-left: 1em;
}

.input-custom-form {
    padding-bottom: 1em;
}

.input-custom-form h4 {
    display: inline;
}

.firs-space {
    padding-top: 2.5em;
}

.n-space {
    padding-top: 1.5em;
}

.no-asterisk {
    padding-left: 1em;
}

.custom-select-cr-users {
    border-radius: 1em;
    position: relative;
    margin-left: 1em;
    height: 3em;
    margin-top: 1em;
}

.btn-custom-create {
    border-radius: 1em;
    float: right;
    margin-top: 1em;
    width: 7.1em;
    margin-right: -1em;
    background-color: rgb(90, 169, 119);
    height: 2.5em;
}

.errorlist {
    display: inline-block;
    list-style-type: none;
    padding-left: 1em;
    color: red;
}

.error-icon {
    margin-top: 3.3em;
    margin-left: -2em;
    display: inline-block;
    border: solid 1px red;
    border-radius: 1em;
    height: 1.3em;
    width: 1.3em;
    padding-left: 0.5em;
    color: red;
    z-index: 2;
    position: relative;
}

.successful-message {
    margin-top: 1.5em;
    margin-left: -3em;
    color: #5aa977;
    border-color: #5aa977;
    border: solid 1px;
    width: 18em;
    padding: 0.4em 0em 0.4em 3em;
    border-radius: 2em;
    background-color: white;
}