{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">

        <title>Synergy Way task</title>

        <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.2/js/utils.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.2/js/intlTelInput.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.1.0/css/intlTelInput.css"/>
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.2/img/flags.png"/>
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.2/img/flags@2x.png"/>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
        <link href="https://fonts.googleapis.com/css?family=Devonshire|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% endblock %}
</head>

<div class="row nav-bar-row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="test-for-you">Test for You</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a href="{% url 'users' %}" class="nav-users"><p>Users</p></a>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a href="{% url 'courses' %}" class="nav-courses"><p>Courses</p></a>
    </div>
</div>


<body>
{% block body %}
{% endblock %}
</body>

</html>