{% extends 'base.html' %}

{% block body %}
    <div class="row first-space" style="padding-top: 5.5em;">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <h1>COURSES</h1>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7 head-section1">
            <h4 class="col-title1">NAME</h4>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 head-section2">
            <h4 class="col-title2">CODE</h4>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
    {% for course in data %}
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7 field-col1" id="courseName">
                <h4 class="field-col1-text">
                    {{ course.name }}
                </h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 field-col2" id="courseCode">
                <h4 class="field-col2-text">{{ course.code }}</h4>
            </div>
        </div>
    {% endfor %}

{% endblock %}