{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="row firs-space">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="{% url 'users' %}">
                <div class="back-button">
                    <div class="back-button-hrz"></div>
                    <div class="back-button-vrt"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4">
            <h3 class="custom-title-cr-user">CREATE USER</h3>
        </div>
        {% if successful %}
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p class="successful-message" id="msg">User created successfully</p>
            </div>
        {% endif %}
    </div>
    <form action="" method="post" id="contactForm">
        {% csrf_token %}
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-custom-form">
                    <h4 class="asterisk">*</h4>
                    <h4>Name</h4>
                </div>
                {{ user_form.name }}
            </div>
            {% if user_form.errors.name %}
                <p class="error-icon">!</p>
                {{ user_form.errors.name }}
            {% endif %}
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-custom-form">
                    <h4 class="asterisk">*</h4>
                    <h4>E-mail</h4>
                </div>
                {{ user_form.email }}
            </div>
            {% if user_form.errors.email %}
                <p class="error-icon">!</p>
                {{ user_form.errors.email }}
            {% endif %}
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-cutom-form">
                    <h4 class="no-asterisk">Phone</h4>
                </div>
                {{ user_form.phone }}
            </div>
            {% if user_form.errors.phone %}
                <p class="error-icon">!</p>
                {{ user_form.errors.phone }}
            {% endif %}
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-cutom-form">
                    <h4 class="no-asterisk">Mobile phone</h4>
                </div>
                {{ user_form.mobile }}
                {% if user_form.errors.mobile %}
                    <p class="error-icon">!</p>
                    {{ user_form.errors.mobile }}
                {% endif %}
            </div>
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-cutom-form">
                    <h4 class="no-asterisk">Status</h4>
                    {{ user_form.status }}
                    <button type="submit" class="btn btn-success btn-custom-create">Create</button>
                </div>
            </div>
        </div><!--6 row: <title Status>, <select Status>-->
    </form>
    <script>
        function removeMsg() {
            $('#msg').css("display", "none");
        }
        function gotoUsers() {
            window.location.assign("{% url 'users' %}");
        }
        $(document).ready(function () {
            if ($('#msg').length) {
                setTimeout(removeMsg, 3000);
                setTimeout(gotoUsers, 4000);
            }
            $("#id_phone").intlTelInput({
                allowExtensions: true,
                defaultCountry: "auto",
                preventInvalidNumbers: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.2/js/utils.js"
            });
            $("#id_mobile").intlTelInput({
                numberType: "MOBILE",
                preventInvalidNumbers: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.2/js/utils.js"
            });
        });
    </script>
    <style>
        .intl-tel-input {
            width: 100% !important;
            margin-left: 1em !important;
        }
    </style>
{% endblock %}