{% extends 'base.html' %}

{% block body %}
    <div class="row firs-space">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="{% url 'users' %}">
                <div class="back-background">
                    <div class="back-horizontal-line"></div>
                    <div class="back-vertical-line"></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
            <h3 class="user-title">CHANGE USER</h3>
        </div>

        <div class="col-lg-1"></div>

        {% if successful %}
            <div class="col-lg-3 col-md-5 col-sm-5 col-xs-5">
                <div class="info-button" id="msg">
                    <h5 class="info-button-text">{{ successful }}</h5>
                </div>
            </div>
        {% endif %}
    </div>
    <form action="" method="post" id="contactForm">
        {% csrf_token %}
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-custom-form">
                    <h4 class="custom-title">Name</h4>
                </div>
                {{ user_form.name }}
            </div>
            {% if user_form.errors.name %}
                <p class="error-icon">!</p>
                {{ user_form.errors.name }}
            {% endif %}
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-custom-form">
                    <h4 class="asterisk">*</h4>
                    <h4>E-mail</h4>
                </div>
                {{ user_form.email }}
            </div>
            {% if user_form.errors.email %}
                <p class="error-icon">!</p>
                {{ user_form.errors.email }}
            {% endif %}
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-custom-form">
                    <h4 class="no-asterisk">Phone</h4>
                </div>
                {{ user_form.phone }}
            </div>
            {% if user_form.errors.phone %}
                <p class="error-icon">!</p>
                {{ user_form.errors.phone }}
            {% endif %}
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-custom-form">
                    <h4 class="no-asterisk">Mobile phone</h4>
                </div>
                {{ user_form.mobile }}
            </div>
            {% if user_form.errors.mobile %}
                <p class="error-icon">!</p>
                {{ user_form.errors.mobile }}
            {% endif %}
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-custom-form">
                    <h4 class="no-asterisk">Status</h4>
                    {{ user_form.status }}
                </div>
            </div>
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="input-custom-form">
                    <h4 class="no-asterisk">Courses</h4>
                    {{ user_form.courses }}
                    {% if courses %}
                        <select class="form-control courses" id="course">
                            {% for course in courses %}
                                {% if course.id not in user_courses %}
                                    <option value="{{ course.id }}">{{ course.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-top: 3.3em;">
                <a href="javascript:void(0);" onclick="add_course()" class="add-button-a">
                    <div class="add-button-background">
                        <div class="add-button-horizontal-line"></div>
                        <div class="add-button-vertical-line"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="courses_added" style="padding-right: 0;">
                {% for course in courses %}
                    {% if course.id in user_courses %}
                        <p class="added-courses">{{ course.name }}
                            <a href="javascript:void(0);" onclick="remove_course()">
                                <span value="{{ course.id }}" class="glyphicon glyphicon-remove"></span>
                            </a>
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
        </div>
        <div class="row n-space">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button type="submit" class="btn-save btn btn-success">Save</button>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
        </div>
    </form>
    <script>
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        function add_course() {
            var selected_course = $('#course :selected');
            var course_id = JSON.parse($('#course').val());
            var course_name = selected_course.text();

            $.ajax({
                url: {% url "user_courses" %},
                type: "POST",
                data: {
                    user_id: {{ user_id }},
                    course_id: course_id,
                    available: false
                },
                success: function (data) {
                    $('#courses_added').prepend($(
                            "<p class='added-courses'>" + course_name + "<a href='javascript:void(0);' onclick='remove_course()'>"
                            + "<span value='" + course_id + "' class='glyphicon glyphicon-remove'></span></a></p>"));
                    selected_course.remove();

                    if ($('#course').has('option').length == 0) {
                        $('#course').css('display', 'none');
                        $('.add-button-a').css('display', 'none');
                    }
                }
            });
        }

        function remove_course() {
            var target = event.target;
            var target_parent = $(target).parent().parent();

            var course_id = JSON.parse(target.getAttribute('value'));
            var course_name = $.trim(target_parent.text());

            $.ajax({
                url: {% url "user_courses" %},
                type: "POST",
                data: {
                    user_id: {{ user_id }},
                    course_id: course_id,
                    available: true
                },
                success: function (data) {
                    if ($('#course').css('display') == 'none') {
                        $('#course').css('display', 'inline');
                        $('.add-button-a').css('display', 'inline');
                    }

                    $('#course').append($('<option/>', {value: course_id, text: course_name}));
                    target_parent.css('display', 'none');
                }
            });

        }

        function remove_msg() {
            $('#msg').css("display", "none");
        }

        function redirect_users() {
            window.location.assign("{% url 'users' %}");
        }

        $(document).ready(function () {
            if ($('#course').has('option').length == 0) {
                $('#course').css('display', 'none');
                $('.add-button-a').css('display', 'none');
            }

            if ($('#msg').length) {
                setTimeout(remove_msg, 3000);
                setTimeout(redirect_users, 4000);
            }
            $("#id_phone").intlTelInput({
                allowExtensions: true,
                defaultCountry: "auto",
                preventInvalidNumbers: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.2/js/utils.js"
            });
            $("#id_mobile").intlTelInput({
                numberType: "MOBILE",
                preventInvalidNumbers: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.2/js/utils.js"
            });
        });
    </script>
    <style>
        .intl-tel-input {
            width: 100% !important;
            margin-left: 1em !important;
        }
    </style>
{% endblock %}