{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="row firs-space">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="width: 5em;">
            <a href="{% url 'user_create' %}">

                <div class="icon-plus-bgr">
                    <div class="icon-plus-hrz"></div>
                    <div class="icon-plus-vrt"></div>
                </div>

            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="input-group ">
                <form action="{% url 'users' %}" method="GET" style="display: inline-flex;">
                    <button type="submit" class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <input onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"
                           type="text"
                           name="username"
                           class="form-control custom-input"
                           id="search">
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <h2 style="margin-top: 0.2em;">USERS</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
            <select class="form-control custom-select" id="num_fields">
                <option value="15">15</option>
                <option value="25">25</option>
                <option value="40">40</option>
            </select>
        </div>
    </div>

    <div class="row table-head-pad" style="padding-top: 3em;">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 table-head-color">
            <h4 style="color: white;">NAME</h4>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 table-head-color">
            <h4 style="color: white;">E-MAIL</h4>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 table-head-color">
            <h4 style="color: white;">STATUS</h4>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 table-head-color" style="max-width: 15.3em;">
            <h4 style="color: white;float: right;padding-right: 2em;">ACTION</h4>
        </div>
    </div>
    {% for field in data %}
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-field">
                <h5>{{ field.name }}</h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-field">
                <h5>{{ field.email }}</h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-field">
                {% if field.status %}
                    <h5>Active</h5>
                {% else %}
                    <h5 style="color: red;">Inactive</h5>
                {% endif %}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-field-action">
                <a href="javascript:void(0);" onclick="del({{ field.id }})">
                    <div class="delete-icon-dg">
                        <i class="fa fa-trash-o"></i>
                    </div>
                </a>
                <a href="{% url 'user_details' user_id=field.id %}">
                    <div class="change-icon-dg">
                        <i class="fa fa-pencil"></i>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="container" style="margin-left: 15%;">
                <ul class="pagination" id="pagination">
                    <li><a href="javascript:void(0);" onclick="back()">«</a></li>
                    <li><a href="javascript:void(0);" onclick="go_to_url(1)">1</a></li>
                    <li><a href="javascript:void(0);" onclick="go_to_url(2)">2</a></li>
                    <li><a href="javascript:void(0);" onclick="go_to_url(3)">3</a></li>
                    <li><a href="javascript:void(0);" onclick="go_to_url(4)">4</a></li>
                    <li><a href="javascript:void(0);" onclick="go_to_url(5)">5</a></li>
                    <li><a href="javascript:void(0);" onclick="forward()">»</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
    </div>

    <script>
        window.onload = function (e) {
            var pages = $(".pagination").find("li");
            var page = (parseInt(localStorage['page']) + 1);
            if ($_GET('page') == undefined) {
                $(pages[1]).attr("class", "active");
            } else {
                $(pages[page]).attr("class", "active");
            }
            $("#num_fields").val(localStorage['num']);
        };

        if (localStorage['num'] == undefined) {
            localStorage['num'] = 15;
        }

        function currentPage() {
            var pages = $(".pagination").find("li");
            for (var i = 0, j = pages.length; i < j; i++) {
                if ($(pages[i]).hasClass("active")) {
                    return pages[i].children[0].text[0];
                }
            }
        }

        function go_to_url(page) {
            var num = localStorage['num'];
            var page_num = Math.abs(parseInt(page) - 1);
            var url = "http://" + location.host + "/?per_page=" + num + "&page=" + page_num;
            if (parseInt(page_num) >= 0) {
                localStorage['page'] = page_num;
                window.location.assign(url);
                return url;
            }
        }

        $("#num_fields").click(function () {
            var current_page = currentPage();
            localStorage['num'] = this.value;
            go_to_url(current_page)
        });

        function back() {
            var current_page = currentPage();
            if (current_page > 1) {
                go_to_url(Math.abs((parseInt(current_page) - 1)));
            } else {
                go_to_url(parseInt(current_page));
            }
        }
        function forward() {
            var current_page = currentPage();
            go_to_url((parseInt(current_page) + 1));
        }

        function del(pk) {
            $.ajax({
                url: "{% url 'user_delete' %}",
                type: "POST",
                data: {"user_id": pk, "csrfmiddlewaretoken": "{{csrf_token}}"},
                success: 'success'
            });
            $(event.target).parent().parent().parent().parent().css('display', 'none');
        }
    </script>

{% endblock %}